.apresentacao {
   display: flex;
   flex-direction: row;
   padding: 1.5rem 1.5rem;
   background-color: #151515;
}

.apresentacao_imagem {
   width: 250px;
   height: 250px;
}

.apresentacao_texto {
   max-width: 70%;
   padding-right: 5rem;
}

.apresentacao_texto-titulo {
   font-family: Raleway;
   font-weight: 700;
   font-size: 50px;
   line-height: 55px;
   color: #F1BD35;
   
}

.apresentacao_texto-paragrafo {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 26px;
   margin-top: 2rem;
   width: auto;
   color: #F1BD35
}

