.contato {
   background-color: #F1BD35;
   padding: 2rem;
}

.contato_titulo {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   text-align: center;
}

.contato_conteudo {
   display: flex;
   justify-content: space-around;
   margin-top: 2rem;
   height: 300px;
}

.contato_imagem {
   max-width: 30%;
   height: auto;
   flex-grow: 0;
   flex-shrink: 2;
}

.contato_formulario {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 60%;
}

.contato_formulario-div {
   display: flex;
   flex-direction: column;
   height: 40px;
   width: auto;
   padding: 5px 10px;
   border-radius: 10px;
   background: #FFFFFF;
   flex-shrink: 0;
   flex-grow: 0;
}

.contato_formulario-label {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 16px;
   margin-left: 0.75rem;
}

.contato_formulario-input {
   margin-top: 5px;
   outline: 0;
   border: none;
   font-size: 16px;
   margin-left: 20px;
}

.area-mensagem {
   height: auto;
}

.contato_formulario-mensagem {
   display: flex;
   flex-direction: column;
}

.contato_formulario-textarea {
   resize: none;
   height: 50px;
   border: none;
   outline: 0;
   font-size: 16px;
   margin-left: 15px;
}

.botao {
   text-decoration: none;
   color: #F1BD35;
   background-color: #000000;
   padding: 5px 15px;
   border-radius: 40px;
   font-size: 18px;
   font-weight: 700;
   line-height: 25px;
}