.contato {
   background-color: #F1BD35;
   padding: 2rem;
}

.contato_titulo {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   text-align: center;
}

.contato_conteudo {
   display: flex;
   justify-content: space-around;
   margin-top: 2rem;
   height: 300px;
}

.contato_imagem {
   max-width: 30%;
   height: auto;
   flex-grow: 0;
   flex-shrink: 2;
}

.contato_formulario {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 60%;
   padding: 0 1rem;
}

.contato_formulario-div {
   display: flex;
   flex-direction: column;
   height: 40px;
   width: auto;
   padding: 5px 10px;
   border-radius: 10px;
   background: #FFFFFF;
   flex-shrink: 0;
   flex-grow: 0;
}

.contato_formulario-label {
   font-weight: 500;
   font-size: 16px;
   line-height: 16px;
   margin-left: 0.75rem;
}

.contato_formulario-input {
   margin-top: 5px;
   outline: 0;
   border: none;
   font-size: 16px;
   margin-left: 20px;
}

.mensagem-erro {
   background-color: #FFFFFF;
   border-radius: 0 0 12px 12px;
   padding: 2px 10px;
   color: red;
   width: max-content;
   max-width: 100%;
}

.area-mensagem {
   height: auto;
}

.contato_formulario-mensagem {
   display: flex;
   flex-direction: column;
}

.contato_formulario-textarea {
   resize: none;
   height: 50px;
   border: none;
   outline: 0;
   font-size: 16px;
   margin-left: 15px;
   font-family: 'Raleway';
   font-weight: 500;
}

.botao {
   text-decoration: none;
   color: #F1BD35;
   background-color: #000000;
   padding: 5px 15px;
   border-radius: 40px;
   font-size: 18px;
   font-weight: 700;
   line-height: 25px;
   transition: 300ms;
}

.botao:hover {
   background-color: #232323;
   font-size: 20px;
}

@media screen and (max-width: 920px) {
   .contato {
      height: 450px;
      padding: 1.5rem;
      padding-bottom: 0;
   }

   .contato_conteudo {
      margin-top: 0;
   }
   

   .contato_formulario-div {
      margin-top: 20px;
   }
   
   .contato_formulario {
      width: 100%;
      padding: 0 1rem;
      height: 100%;
   }
   .contato_imagem {
      max-width: 0;
   }

   .contato_formulario-div-botao {
      text-align: center;
      margin-top: 20px;
   }

   .botao {
      width: 90%;
      padding: 12px;
   }
}

@media screen and (max-width: 490px) {
   .contato  {
      height: 500px;
      padding: 1rem;
   }

   .contato_conteudo {
      justify-content: space-between;
      height: 450px;
   }

   .contato_imagem {
      max-width: 0;
   }

   .contato_formulario {
      width: 100%;
      padding: 1.2rem 0rem;
   }

   .contato_formulario-div {
      margin-top: 25px;
   }

   .contato_formulario-div-botao {
      text-align: center;
   }

   .mensagem-erro {
      border-radius: 0 10px 12px 12px;
      padding: 2px 4px;
      width: max-content;
      max-width: 95%;
      font-size: 14px;
   }

   .botao {
      font-size: 25px;
      text-align: center;
      padding: 18px;
      margin-top: 10px;
      margin-bottom: 30px;
   }
}

@media screen and (max-width: 360px) {
   .contato  {
      height: 525px;
      padding: 1rem 0.5rem;
   }

   .contato_formulario-div {
      margin-top: 25px;
      max-width: 90%;
   }

   .contato_conteudo {
      height: 450px;
      margin-top: 0;
   }

   .botao {
      font-size: 22px;
      text-align: center;
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 20px;
   }
}