.experiencia {
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
   background-color: #151515;
}

.experiencia_titulo {
   color: #F1BD35;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   margin-bottom: 1.5rem;
   text-align: center;

}

.experiencia_lista {
   display: flex;
   flex-direction: column;
}

.experiencia_item {
   display: flex;
   max-width: 100%;
}

.experiencia_item-imagem {
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 10px;
}

.experiencia_item-texto {
   display: flex;
   flex-direction: column;
   color: #F1BD35;
   font-family: 'Raleway';
   font-style: normal;
   height: 100%;
   margin-left: 5%;
}

.experiencia_item-texto-titulo {
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   margin-top: 150px;
}

.experiencia_item-texto-descricao {
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
}

.experiencia_item-texto-link {
   text-decoration: none;
   color: #F1BD35;
}