.experiencia {
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
   background-color: #151515;
   padding-bottom: 2.5rem;
}

.experiencia_titulo {
   color: #F1BD35;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   margin-bottom: 1.5rem;
   text-align: center;
}

.experiencia_lista {
   display: flex;
   flex-direction: column;
}

.experiencia_item {
   display: flex;
   max-width: 100%;
   justify-content: space-around;
}

.experiencia_item-imagem {
   border-radius: 10px;
   max-width: 70%;
   height: 55%;
   flex-grow: 0.25;
   flex-shrink: 0.5;
}

.one {
   height: 50px;
}

.experiencia_item-texto {
   color: #F1BD35;
   width: 25%;
   margin-left: 4%;
   align-items: center;
   padding-top: 13%;
}

.experiencia_item-texto-titulo {
   font-weight: 700;
   font-size: 22px;
   line-height: 24px;
}

.experiencia_item-texto-descricao {
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   margin-top: 10px;
   margin-bottom: 15px;
}

.experiencia_item-texto-link {
   text-decoration: none;
   color: #000000;
   background-color: #F1BD35;
   padding: 5px 15px;
   border-radius: 40px;
   font-size: 16px;
   font-weight: 700;
   line-height: 25px;
   transition: 300ms;
}

.experiencia_item-texto-link:hover {
   background-color: #e9c059;
   font-size: 18px;
}

@media screen and (max-width: 490px) {
   .experiencia_item {
      flex-direction: column;
      height:min-content
   }

   .experiencia_item-imagem {
      max-width: 100%;
   }

   .experiencia_item-texto {
      width: 100%;
      text-align: center;
      margin-left: 0;
   }

   .experiencia_item-texto-descricao {
      margin-bottom: 10%;
   }

   .experiencia_item-texto-link {
      font-size: 25px;
      padding: 15px;
      margin-top: 100px;
   }
}