html {
   min-width: 100%;
}

/* HEADER */

.header {
   display: flex;
   padding: 1rem 2rem;
   justify-content: space-between;
   align-items: center;
   background-color: #F1BD35;
   min-width: auto;
}

.header:first-child {
   display: flex;
   flex-shrink: 0.5;
}

.logo {
   width: 125px;
}

/* HEADER navegação */

.navegacao {
   width: 60%;
}

.navegacao_lista {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.navegacao_item {
   text-decoration: none;
   color: black;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
}

.email {
   font-weight: 700;
}