html {
   min-width: 100%;
}

/* HEADER */

.header {
   display: flex;
   padding: 1rem;
   padding-right: 2rem;
   justify-content: space-between;
   align-items: center;
   background-color: #F1BD35;
   min-width: auto;
}

.logo {
   margin-left: 1rem;
   width: 125px;
   flex-shrink: 0;
}

/* HEADER navegação */

.navegacao_lista {
   display: flex;
   justify-content: space-around;
   max-width: 70%;
}

.navegacao_lista-links {
   color: #F1BD35;
   font-family: 'Raleway';
   text-decoration: none;
   background-color: #000000;
   padding: 5px 15px;
   border-radius: 40px;
   font-size: 18px;
   font-weight: 700;
   margin-left: 8px;
   flex-shrink: 0;
}
