.skills {
   display: flex;
   flex-direction: column;
   background-color: #151515;
   padding-top: 1.5rem;
}

.skills_titulo {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   /* identical to box height */

   text-align: center;

   /* Preto/100% */

   color: #F1BD35;
}

.skills_lista {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 2rem;
   margin-top: 1rem;
}

.skills_logo {
   width: 100px;
   height: auto;
   flex-shrink: 3;
   
}

.python {
   width: 115px;
}