.sobreMim {
   background: #F1BD35;
   padding: 1rem 3rem;
}

.sobreMim_titulo {
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   color: #232323;
}

.sobreMim_paragrafo {
   color: #000000;
   font-weight: 500;
   font-size: 21px;
   line-height: 25px;
   margin: 1rem 0;
}
